/***
    The new CSS reset - version 1.11.2 (last updated 15.11.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *, w3m-modal)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu, summary {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
    box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
    box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
    display: none;
}
@font-face {
  font-family: Söhne;
  src: url("https://common-resources.gaia.cc/fonts/soehne.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Söhne;
  src: url("https://common-resources.gaia.cc/fonts/soehne-bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
/*
@font-face {
  font-family: 'Trajan Pro';
  font-style : normal;
  font-weight: normal;
  src        : url("https://common-resources.gaia.cc/fonts/trajan-pro.woff") format("woff");
}
*/
@keyframes rotate-material-loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
@keyframes rotate-material-loading-spinner-dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
.material-loading-spinner {
  display: flex;
}
.material-loading-spinner > svg {
  animation: rotate-material-loading-spinner 1.4s linear infinite;
}
.material-loading-spinner > svg > circle {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: rotate-material-loading-spinner-dash 1.4s ease-in-out infinite;
  stroke: var(--loading-spinner-color);
}
button.contained .material-loading-spinner > svg > circle {
  stroke: var(--loading-spinner-on-contained-button-color);
}
:root {
  --line-color: #333333;
  --page-bg-color: #000;
  --paragraph-text-color: #fff;
  --placeholder-color: rgba(255, 255, 255, 0.5);
  --link-underline-color: #616161;
  --selection-bg-color: #fff;
  --selection-text-color: #000;
  /* App Components */
  --overlay-color: rgba(34, 34, 34, 0.6);
  --modal-bg-color: #171717;
  --success-alert-bg-color: #0c130d;
  --success-alert-icon-color: #66bb6a;
  --success-alert-text-color: #cce8cd;
  --info-alert-bg-color: #071318;
  --info-alert-icon-color: #29b6f6;
  --info-alert-text-color: #b8e7fb;
  --warning-alert-bg-color: #191207;
  --warning-alert-icon-color: #ffa726;
  --warning-alert-text-color: #ffe2b7;
  --error-alert-bg-color: #160b0b;
  --error-alert-icon-color: #f44336;
  --error-alert-text-color: #f4c7c7;
  --text-button-text-color: #fff;
  --text-button-hover-bg-color: rgba(255, 255, 255, 0.08);
  --text-button-disabled-text-color: rgba(255, 255, 255, 0.26);
  --contained-button-bg-color: #fff;
  --contained-button-text-color: #000;
  --contained-button-hover-bg-color: #e9e9e9;
  --contained-button-disabled-bg-color: rgba(255, 255, 255, 0.26);
  --outlined-button-border-color: var(--line-color);
  --outlined-button-bg-color: transparent;
  --outlined-button-text-color: #fff;
  --outlined-button-hover-border-color: var(--line-color);
  --outlined-button-hover-bg-color: rgba(255, 255, 255, 0.08);
  --outlined-button-disabled-bg-color: rgba(255, 255, 255, 0.26);
  --circle-button-bg-color: #fff;
  --circle-button-text-color: #000;
  --circle-button-hover-bg-color: #e9e9e9;
  --circle-button-disabled-bg-color: rgba(255, 255, 255, 0.26);
  --input-border-color: #4e4e4e;
  --input-hover-border-color: #8c8c8c;
  --input-focus-border-color: #e3e3e3;
  --dropdown-menu-bg-color: #2f2f2f;
  --dropdown-menu-border-color: rgba(255, 255, 255, 0.1);
  --dropdown-menu-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
  --dropdown-menu-separator-color: rgba(255, 255, 255, 0.1);
  --dropdown-menu-item-hover-bg-color: #424242;
  --loading-spinner-color: #fff;
  --loading-spinner-on-contained-button-color: #000;
  /* Social Components */
  --chat-message-form-bg-color: #2f2f2f;
  --avatar-bg-color: #252527;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
}
:root {
  background-color: var(--page-bg-color);
}
html,
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
body {
  color: var(--paragraph-text-color);
  font-family: Söhne;
  font-size: 18px;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  container-type: inline-size;
}
h1 {
  line-height: 1.1;
}
b {
  font-weight: bold;
}
p {
  line-height: 1.5;
  word-break: break-word;
}
p > a {
  text-decoration: underline;
  text-decoration-color: var(--link-underline-color);
  transition: text-decoration-color 0.25s ease;
}
p > a:hover {
  text-decoration-color: currentColor;
}
a {
  cursor: pointer;
}
dialog {
  border: none;
  outline: none;
  padding: 0;
}
::placeholder {
  color: var(--placeholder-color);
}
::selection {
  background-color: var(--selection-bg-color);
  color: var(--selection-text-color);
}
/* App Components */
.alert {
  display: flex;
  align-items: center;
  gap: 22px;
  padding: 22px;
  border-radius: 4.5px;
}
.alert.info {
  background-color: var(--info-alert-bg-color);
  color: var(--info-alert-text-color);
}
.alert.info > .icon-container {
  color: var(--info-alert-icon-color);
}
button,
a.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  padding: 8px 22px;
  min-height: 40px;
  font-size: 15px;
  transition: background-color 0.2s linear;
  border-radius: 9999px;
}
@container (width <= 520px) {
  button,
  a.button {
    padding: 8px 16px;
  }
}
button > .icon-container,
a.button > .icon-container {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
}
button > .icon-container > .icon,
a.button > .icon-container > .icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
button > .icon-container > .icon > svg,
a.button > .icon-container > .icon > svg {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
button > .right-icon-container,
a.button > .right-icon-container {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
button > .right-icon-container > .icon,
a.button > .right-icon-container > .icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
button > .right-icon-container > .icon > svg,
a.button > .right-icon-container > .icon > svg {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
button.disabled,
a.button.disabled {
  cursor: not-allowed;
}
button.text,
a.button.text {
  background-color: transparent;
  color: var(--text-button-text-color);
}
@media (pointer: fine) {
  button.text:hover:not(.disabled),
  a.button.text:hover:not(.disabled) {
    background-color: var(--text-button-hover-bg-color);
  }
}
button.text:active:not(.disabled),
a.button.text:active:not(.disabled) {
  background-color: var(--text-button-hover-bg-color);
}
button.text.disabled,
a.button.text.disabled {
  color: var(--text-button-disabled-text-color);
}
button.contained,
a.button.contained {
  background-color: var(--contained-button-bg-color);
  color: var(--contained-button-text-color);
}
@media (pointer: fine) {
  button.contained:hover,
  a.button.contained:hover {
    background-color: var(--contained-button-hover-bg-color);
  }
}
button.contained:active,
a.button.contained:active {
  background-color: var(--contained-button-hover-bg-color);
}
button.contained.disabled,
a.button.contained.disabled {
  background-color: var(--contained-button-disabled-bg-color);
}
button.outlined,
a.button.outlined {
  border: 1px solid var(--outlined-button-border-color);
  background-color: var(--outlined-button-bg-color);
  color: var(--outlined-button-text-color);
}
@media (pointer: fine) {
  button.outlined:hover:not(.disabled),
  a.button.outlined:hover:not(.disabled) {
    border-color: var(--outlined-button-hover-border-color);
    background-color: var(--outlined-button-hover-bg-color);
  }
}
button.outlined:active:not(.disabled),
a.button.outlined:active:not(.disabled) {
  border-color: var(--outlined-button-hover-border-color);
  background-color: var(--outlined-button-hover-bg-color);
}
button.outlined.disabled,
a.button.outlined.disabled {
  background-color: var(--outlined-button-disabled-bg-color);
}
button.circle,
a.button.circle {
  padding: 8px;
  border-radius: 50%;
  background-color: var(--circle-button-bg-color);
  color: var(--circle-button-text-color);
}
@media (pointer: fine) {
  button.circle:hover,
  a.button.circle:hover {
    background-color: var(--circle-button-hover-bg-color);
  }
}
button.circle:active,
a.button.circle:active {
  background-color: var(--circle-button-hover-bg-color);
}
button.circle.disabled,
a.button.circle.disabled {
  background-color: var(--circle-button-disabled-bg-color);
}
.button-group {
  display: flex;
  flex-direction: column;
}
.button-group > button {
  margin-bottom: -1px;
  border-radius: 0;
  justify-content: start;
}
.button-group > button:first-child {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.button-group > button:last-child {
  margin-bottom: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.input {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.input.required > .label::after {
  content: '*';
  margin-left: 3px;
}
.input > .label {
  font-size: 15.14px;
}
.input > input,
.input > textarea {
  width: 100%;
  border: 1px solid var(--input-border-color);
  border-radius: 4.5px;
}
.input > input:focus,
.input > textarea:focus {
  border-color: var(--input-focus-border-color);
}
.input > input:hover,
.input > textarea:hover {
  border-color: var(--input-hover-border-color);
}
.input > input {
  height: 40px;
  padding: 0 13.5px;
}
.input > textarea {
  height: 100px;
  padding: 13.5px;
  resize: vertical;
}
.input:has(.suffix-icon) > input,
.input:has(.suffix-icon) > textarea {
  padding-right: 40px;
}
.input > .suffix-icon {
  position: absolute;
  right: 13.5px;
  bottom: 13.5px;
}
.input > .suffix-icon > .icon {
  display: flex;
}
.select {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.select.required > .label::after {
  content: '*';
  margin-left: 3px;
}
.select > .label {
  font-size: 15.14px;
}
.select > select {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 13.5px;
  border: 1px solid var(--input-border-color);
  border-radius: 4.5px;
}
.select > select:focus {
  border-color: var(--input-focus-border-color);
}
.select > select:hover {
  border-color: var(--input-hover-border-color);
}
.dropdown-menu {
  position: fixed;
  z-index: 1000;
  background-color: var(--dropdown-menu-bg-color);
  border: 1px solid var(--dropdown-menu-border-color);
  border-radius: 16px;
  box-shadow: var(--dropdown-menu-shadow);
  padding: 8px;
  min-width: 280px;
}
.dropdown-menu > main > .dropdown-menu-group {
  position: relative;
  display: flex;
  flex-direction: column;
}
.dropdown-menu > main > .dropdown-menu-group:not(:last-child) {
  padding-bottom: 9px;
}
.dropdown-menu > main > .dropdown-menu-group:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--dropdown-menu-separator-color);
}
.dropdown-menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  border-radius: 6px;
  font-size: 14px;
}
.dropdown-menu-item > .icon {
  display: flex;
  align-items: center;
}
.dropdown-menu-item:hover {
  background-color: var(--dropdown-menu-item-hover-bg-color);
}
dialog.modal {
  width: 90%;
  max-width: 600px;
  border-radius: 8px;
  background-color: var(--modal-bg-color);
  color: var(--paragraph-text-color);
  animation: fade-in 0.3s ease-out;
  container-type: inline-size;
}
dialog.modal::backdrop {
  backdrop-filter: blur(50px);
  background-color: var(--overlay-color);
  animation: fade-in 0.3s ease-out;
}
dialog.modal:not([open]) {
  display: none !important;
}
dialog.modal.structured-modal {
  display: flex;
  flex-direction: column;
}
dialog.modal.structured-modal > header {
  flex-shrink: 0;
  padding: 34px;
  font-size: 26px;
}
@container (width <= 520px) {
  dialog.modal.structured-modal > header {
    font-size: 22px;
    padding: 34px 24px;
  }
}
dialog.modal.structured-modal > main {
  overflow-y: auto;
  flex-grow: 1;
  padding: 0 34px;
}
@container (width <= 520px) {
  dialog.modal.structured-modal > main {
    padding: 0 24px;
  }
}
dialog.modal.structured-modal > footer {
  flex-shrink: 0;
  padding: 24px 34px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}
@container (width <= 520px) {
  dialog.modal.structured-modal > footer {
    padding: 24px;
  }
}
dialog.modal.alert-dialog > header > h1 {
  display: flex;
  align-items: center;
  gap: 12px;
}
.accordion-item {
  border-bottom: 1px solid var(--line-color);
}
.accordion-item > summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  cursor: pointer;
}
.accordion-item > .content {
  padding-bottom: 15px;
}
.svg-icon {
  display: flex;
  align-items: center;
}
/* Social Components */
.author-name-display {
  font-weight: bold;
}
.author-name-display:hover {
  text-decoration: underline;
}
.author-avatar-display > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
ul.chat-message-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: auto;
  padding: 16px;
}
li.chat-message-list-item {
  display: flex;
  gap: 16px;
}
li.chat-message-list-item > .avatar {
  flex-shrink: 0;
}
li.chat-message-list-item > main {
  flex-grow: 1;
}
.chat-message-content-display.editing > p {
  display: none;
}
.chat-message-form {
  padding: 0 16px 8px;
}
.chat-message-form > form {
  display: flex;
  align-items: center;
  background-color: var(--chat-message-form-bg-color);
  border-radius: 26px;
  padding: 6px;
}
.chat-message-form > form > .input {
  flex-grow: 1;
}
.chat-message-form > form > .input > input {
  border: none;
}
.chat-message-form > form > .actions {
  display: flex;
  align-items: center;
  padding: 4px;
}
.chat-message-form > form > .actions > button {
  padding: 0;
  width: 32px;
  height: 32px;
  min-height: auto;
}
.chat-message-form > form > .actions > button > .icon-container > .icon {
  font-size: 20px;
}
.chat-message-edit-form {
  padding: 8px 0;
}
.chat-message-edit-form > form {
  display: flex;
  align-items: center;
  background-color: var(--chat-message-form-bg-color);
  border-radius: 26px;
  padding: 6px;
}
.chat-message-edit-form > form > .input {
  flex-grow: 1;
}
.chat-message-edit-form > form > .input > input {
  border: none;
}
.chat-message-edit-form > form > .actions {
  display: flex;
  align-items: center;
  padding: 4px;
}
.chat-message-edit-form > form > .actions > button {
  padding: 0;
  width: 32px;
  height: 32px;
  min-height: auto;
}
.chat-message-edit-form > form > .actions > button > .icon-container > .icon {
  font-size: 20px;
}
.logged-in-user-avatar-button > button.avatar {
  padding: 0;
  transition: none;
  gap: 12px;
}
.logged-in-user-avatar-button > button.avatar > .icon-container {
  border-radius: 50%;
}
.logged-in-user-avatar-button > button.avatar > .title {
  padding-right: 16px;
}
@media (pointer: fine) {
  .logged-in-user-avatar-button > button.avatar:hover > .icon-container {
    background-color: var(--circle-button-bg-color);
  }
}
.logged-in-user-avatar-button > button.avatar:active > .icon-container {
  background-color: var(--circle-button-bg-color);
}
.logged-in-user-avatar-menu > header {
  margin-bottom: 8px;
}
.logged-in-user-avatar-menu > header > .user-info {
  display: flex;
  align-items: center;
  padding: 0 8px;
  gap: 16px;
  cursor: pointer;
  transition: opacity 0.2s;
}
.logged-in-user-avatar-menu > header > .user-info:hover {
  opacity: 0.8;
}
/* Wallet Components */
.wallet-avatar {
  display: flex;
  align-items: center;
}
.wallet-connection-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.wallet-connection-content > section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.wallet-connection-content > section > h2 {
  font-size: 22px;
}
@container (width <= 520px) {
  .wallet-connection-content > section > h2 {
    font-size: 18px;
  }
}
.wallet-login-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.wallet-login-content > section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.wallet-login-content > section > h2 {
  font-size: 22px;
}
@container (width <= 520px) {
  .wallet-login-content > section > h2 {
    font-size: 18px;
  }
}
.confirm-dialog.sign-message .alert.info {
  margin-top: 22px;
}
/* Gaia Components */
.persona-avatar {
  position: relative;
  background-color: var(--avatar-bg-color);
  border-radius: 50%;
}
.persona-avatar > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.persona-avatar > .loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.persona-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.persona-form > .avatar {
  position: relative;
  height: 120px;
  display: flex;
  justify-content: center;
}
.persona-form > .avatar > .persona-avatar {
  width: 120px;
  height: 120px;
}
.persona-form > .avatar > button.edit {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(calc(50% + 45px), 0);
  min-height: 32px;
}
.persona-form > .avatar > button.edit > .icon-container,
.persona-form > .avatar > button.edit > .icon-container > .icon,
.persona-form > .avatar > button.edit > .icon-container > .icon > svg {
  width: 16px;
  height: 16px;
}
.persona-form > .display-name-input-container > .select-name-buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
@container (width <= 520px) {
  .persona-form > .display-name-input-container > .select-name-buttons {
    gap: 4px;
  }
}
.persona-form > .display-name-input-container > .select-name-buttons > button {
  flex-grow: 1;
  font-size: 14px;
  padding: 8px 0;
}
@container (width <= 520px) {
  .persona-form > .display-name-input-container > .select-name-buttons > button {
    font-size: 12px;
    padding: 6px 0;
    min-height: auto;
  }
}
.create-persona-form > header {
  font-size: 32px;
  text-align: center;
}
.create-persona-form > main {
  padding: 80px 0 72px;
}
.create-persona-form > footer > button {
  width: 100%;
}

